body {
  box-sizing: border-box;
  font-size: 18px;
  color: #494c4e;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
  padding-top: 63vh;
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0f0f0f;
  letter-spacing: 6px;
  opacity: 1;
}

h3 {
  font-size: 25px;
  margin-bottom: 30px;
  font-style: italic;
  font-weight: bold;
  color: #141334;
  text-decoration: underline;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.welcome {
  background: url("/assets/bella_profile.jpg");
  background-size: cover;
  height: 100vh;
}

#welcome-text {
  height: 100vh;
  text-align: center;
  background: rgba(204, 204, 204, 0.55);
}

#arrow {
  text-align: center;
}

i {
  color: #07058e;
}

#focus {
  font-family: 'Oswald', sans-serif;
  border-top: 4px solid;
  color: #07058e;
  font-weight: bold;
  font-size: 40px;
  font-style: normal;
}

.tags {
  text-align: center;
  font-size: 30px;
  color: #0f0f0f;
  font-style: italic;
}

#main {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.details {
  margin: auto;
}

#profile {
  width: 50vw;
  margin-top: 30px;
}

#work, #skills {
  width: 50vw;
  margin-top: 30px;
}

#work h3 {
  margin-top: 45px;
}

a {
  text-decoration: none;
  color: #141334;
}

li {
  font-size: 20px;
}

li p {
  margin-top: 10px;
}

li a {
  font-size: 25px;
  color: #07058e;
}

#contact {
  margin-bottom: 15px; 
  text-align: center;
}

#contact p {
  font-size: 23px;
  margin-bottom: 15px;
}

#contact h3 {
  margin-top: 45px;
  text-decoration: none;
}

@media only screen and (max-width: 700px){
  #work, #profile {
  width: 70vw;
  }
  h1{
    font-size: 40px;
    padding-top: 45vh;
  }
  .tags {
    font-size: 13px;
    font-weight: bold;
  }
  #focus {
    font-size: 20px;
  }
 
}