---
layout: default
---

<div id="welcome">
  <div class="text">
    <h1>Kerri Marusiak</h1>
    <div class="tags">
      Dog-Lover | <a href="#main" id="focus">Web Developer</a> | Woodworker
    </div>
    <div id="arrow">
      <a href="#main"><i class="fas fa-chevron-down fa-3x"></i></a>
    </div>
  </div>
</div>

<div id="main">
  <div id="profile" class="details-container">
    <h2>Hello!</h2>

    <p>
      <span class="lead-in"
        >My name is <b>Kerri,</b> I am a Javascript web developer</span
      >
      based in London. I care a lot about building nice things that work well!
    </p>

    <p>
      Having formerly trained as a cabinetmaker I worked to create
      <b>precise, functional</b> furniture. I developed an eye for
      <b>design,</b> and could fuss over even the smallest <b>details</b> of a
      project. I like to think that building websites is not so different from
      building furniture, and I try to employ the ethos of cabinetmaking to
      building websites.
    </p>
  </div>

  <div id="skills" class="details-container">
    <div>
      <h2>Skills.</h2>
      <ul>
        <li>JavaScript</li>
        <li>Angular 2+</li>
        <li>TypeScript</li>
        <li>HTML, SCSS</li>
        <li>Ruby</li>
        <li>Ruby on Rails</li>
        <li>Databases with Postgres and SQL3</li>
        <li>Jira, Confluence, Monday</li>
      </ul>
    </div>
  </div>

  <div id="work" class="details-container">
    <br /><br />
    <h3>Work.</h3>

    {% for item in site.data.work %}
    <div class="work" id="{{item.id}}">
      {% if item.title %}
      <h3>{{item.title}}</h3>
      {% endif %} {% include {{item.path}}.html title=item.title %}
    </div>
    {% endfor %}
  </div>

  <div id="contact" class="details-container">
    <h2>Contact.</h2>
    <p>kerri.maru@gmail.com</p>
    <div>
      <a href="https://github.com/Kerrimaru" target="_blank"
        ><i class="fab fa-github fa-2x"></i
      ></a>
      <a href="https://uk.linkedin.com/in/kerri-marusiak" target="_blank"
        ><i class="fab fa-linkedin fa-2x"></i
      ></a>
    </div>
  </div>
</div>
