<!-- <head>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <title>Kerri Marusiak</title>
  <meta charset="utf-8">
</head> -->

<head>
  <!-- <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css"> -->
  <link rel="stylesheet" href="/assets/css/styles.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.8.2/devicon.min.css"
  />

  <link
    href="https://fonts.googleapis.com/css?family=Lobster+Two|Montserrat:700|Oswald:500|Philosopher|Satisfy|Montserrat|Oxygen"
    rel="stylesheet"
  />

  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous"
  />

  <title>Kerri Marusiak</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
