<a href="http://recipe-hole.firebaseapp.com/" target="_blank">
  <img class="work-logo" src="assets/images/hole-logo.png" width="50px" />
  <p>recipe-hole.firebaseapp.com</p></a
>

<div>
  <p>
    <span class="lead-in"
      ><b class="app-title">Judith's Kitchen</b>, aka Recipe Hole, is a personal
      project</span
    >
    which I initially started when I was first learning <b>Angular</b> and
    <b>Typescript.</b> The app is hosted on <b>Firebase,</b> and uses Firebase's
    <b>realtime database</b> to store recipe data, as well as Firebase
    <b>authentication.</b> I put it on the shelf for a couple of years until
    recently, when my frustration with losing track of my favourite recipes
    mixed with my dissatisfaction with other recipe sites' data tracking, ads,
    and long-winded blog posts made me pick this up again.
  </p>

  <p>
    I added a lot of features, including <b>favouriting</b> and
    <b>search</b> functionality, <b>user notes</b> and
    <b>date made</b> functionality, and a funky copy/paste tool for quickly
    adding ingredients. It has evolved from a basic skills-developing piece into
    a much more well rounded, and useful app which I do currently use
    frequently. I'm still adding to it whenever I find some time.
  </p>

  <div id="judith-images">
    {% include kerri-carousel.html source="judith" title="'judith'" %}
  </div>
</div>
