<div>
  <p>
    This is a personal project which I initially started back when I was first
    learning Angular. I followed an online program, over the course of which you
    are led to develop a very simple recipe site, not an uncommon subject for
    beginner code projects. I completed the course, and that was that.
  </p>
  <p>
    One day however, almost two years latesr, I found myself searching through
    old emails for a recipe my mom sent me and having no luck at finding it. I
    remembered this old recipe project and thought if I could resurrect it, with
    my now more developed skills, i could make it into actually a really useful
    tool for my mom and I to share our recipes from afar. (she is back home on
    the west coast of Canada), and never to need to dig for or lose recipes
    again! So I set about revamping it with my , adding new features with the
    idea of making it so simple and starightforward that even mom would enjoy
    using it! It is currently still a work in prgress, but it is developed to
    the point where I do in fact use it, and I am currently adding recipes and
    developing new features on a regular basis
  </p>
  <p>
    features includes: add new recipe, favourite recipe list, tags, no tracking
    ads or other bloating, add notes and view other user's notes, add dates
    recipe made, search for recipes, shopping/ingredient checklist on mobile
  </p>
</div>
