<a href="https://hidden-bastion-43962.herokuapp.com" target="_blank">
  <img class="work-logo" src="assets/images/memoria.png" style="width: 80px" />
  <p>hidden-bastion-43962.herokuapp.com</p></a
>
<p>
  <span class="lead-in"><b>Memoria</b> was my final project</span> I developed
  for my coding bootcamp. I built the app and the <b>chrome extension</b> myself
  from scratch, with a <b>rails</b> backend and
  <b>vanilla javascript</b> frontend, and hosting on
  <b>Heroku.</b>
</p>
<p>
  I am guilty of always having a million tabs open at once, because I fear that
  if I close them I will never remember to come back to that page again. Enter
  <b class="app-title">Memoria!</b> I built a bookmarking app which
  <b>takes a screenshot</b> of the page you are viewing to give you that visual
  memory jog, and saves it as a bookmark to your Memoria homescreen. You can
  then <b>add tags</b> and <b>edit</b> the entry, as well as
  <b>sort, search,</b> and <b>filter</b> all entires, in order to find that tab
  you were looking for.
</p>

<div id="memoria-images">
  {% include kerri-carousel.html source="memoria" title="'memoria'" %}
</div>
<!-- <p>
  Memoria allows users at the click of a button store bookmarks into their
  homepage, complete with a screenshot of the page they are browsing to help jog
  their memory, the title of the page, and optional user-added tags. This works
  via a chrome extension which can be installed in the browser, and makes the
  ajax request to populate the user's home page.
</p> -->
