<a href="https://hidden-bastion-43962.herokuapp.com" target="_blank">Memoria</a>
<p>
  Memoria was my final project I developed for my coding bootcamp. I am guilty
  of always having a million tabs open at once, because I always feel that if I
  close them I will never remember to come back to that page again. So, enter
  Memoria! A bookmarking app which takes a screenshot of the page you are
  viewing to give you that visual memeory jog, and saves it as a bookmark to
  your Memoria homescreen.
</p>
<p>
  Memoria allows users at the click of a button store bookmarks into their
  homepage, complete with a screenshot of the page they are browsing to help jog
  their memory, the title of the page, and optional user-added tags. This works
  via a chrome extension which can be installed in the browser, and makes the
  ajax request to populate the user's home page. I built the app and the
  extension myself from scratch, with a rails backend and vanilla javascript
  frontend, and hosting on Heroku.
</p>
