<div>
  <p>
    I started at TouchNote as an intern in August 2018, after completing a four
    month coding bootcamp with a strong focus on Ruby and Ruby on Rails.
  </p>
  <p>
    My first task at TouchNote? Learn to work with Angular! As an intern, I
    developed the company's internal tools site, while getting to know their
    product as well as learning the fundamentals of what was for me at the time,
    a new programming language. After an intial four month period, I was hired
    on a permanent basis, and migrated to contributing to the customer-facing
    app.
  </p>
  <p>
    As (at times), the only web developer at TouchNote, I had the opportunity to
    take on a multitude of responsibilties. In addition to making regular
    releases and keeping(soemthing something ) up to date, something something
    all and ensuring the performance of the web app, I also contributed to
    writing documentation for web app product flows and tech specs.
  </p>
  <p>
    features here i can talk anout some of my favo features - text stickers,
    card chart?? , csv uploader
  </p>
  <p>
    Perhaps my greatest achievment at TouchNote was inspiring the office's Pet
    Policy to be written, and my dog Bella's subsequent promotion to 'Lead
    Doggo' within the company. She even got her own canvas printed and hung on
    the wall!
  </p>
</div>
