<div>
  <a href="https://app.touchnote.com/" target="_blank">
    <img class="work-logo" src="assets/images/logo.png" style="width: 80px" />
    <p>app.touchnote.com</p></a
  >

  <p>
    <span class="lead-in"
      >I was hired at <b class="app-title">TouchNote</b> in 2018,</span
    >
    as a <b>Frontend Angular 2+</b> developer. From
    <b>regular maintenance and performance improvements</b>, developing
    <b>new features</b> from scratch, starting an
    <b>internal web app wiki</b> to document the product flows and logic, and
    <b>deploying regular and well-documented releases,</b> I had a hand in many
    varied aspects of the web app.
  </p>

  <p>
    Arguably my greatest achievment at TouchNote, however, was inspiring the new
    <b>Pet Policy</b> to be written to allow dogs in the office and the
    subsequent promotion of my dog Bella to <b>Lead Doggo</b>. She even got her
    own canvas on the company wall!
  </p>

  <div>
    {% include kerri-carousel.html source="touchnote" title="'touchnote'"%}
  </div>
</div>
