<div>
  <a href="https://app.touchnote.com/" target="_blank">
    <img class="work-logo" src="assets/images/logo.png" style="width: 80px" />
    <p>app.touchnote.com</p></a
  >

  <p>
    <span class="lead-in"
      >I was hired at <b class="app-title">TouchNote</b> in 2018, as a
      <b>Frontend Angular 2+</b> </span
    >developer. Here, I was part of the <b>memberships team</b> and developed
    features for the new membership model that the company adopted shortly after
    I joined, and also part of the <b>engagement team,</b> which focused on
    developing feature to keep our existing users active and engaged.
    Additionally, I took on a variety of more day-to-day tasks such as
    configuring our regular sales and promotions,
    <b>maintenance and performance improvements</b>, starting an
    <b>internal web app wiki</b> to document product flows and logic, and
    <b>deploying regular and well-documented releases.</b>
  </p>

  <p>
    Arguably my greatest achievement at TouchNote might be inspiring the new
    <b>Pet Policy</b> to be written to allow dogs in the office, and the
    subsequent promotion of my dog Bella to <b>Lead Doggo</b>. She even got her
    own canvas on the company wall!
  </p>

  <div>
    {% include kerri-carousel.html source="touchnote" title="'touchnote'"%}
  </div>
</div>
