<div class="constructive-logo">
  <a href="https://www.instagram.com/constructiveandco/" target="_blank"
    ><img class="work-logo" src="assets/constructive.svg" style="width: 80px" />
    <p>instagram.com/constructiveandco</p></a
  >
</div>

<p>
  Although I no longer am a woodworker by day, I still stay in touch with the
  guys I worked for at <b class="app-title">Constructive & Co.</b> Check out
  more of their work above, they make great stuff! Below are some of my other
  past projects.
</p>

<div id="wood-images">
  {% include kerri-carousel.html source="wood" title="'wood'" %}
</div>
