<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id='outer-welcome'>
      <div class='welcome'>
        <div id='welcome-text'>
          <h2>Kerri Marusiak</h2>
          <div class='tags'>
            Dog-Lover | <span id='focus'>Web Developer</span> | Woodworker
          </div>
          <div id='arrow'>
            <a href="#main"><i class="fas fa-chevron-down fa-3x"></i></a>
          </div>
        </div>
      </div>
    </div>
    
    <div id='main'>
      <div id='profile' class='details'>
        <p id='hi'>Hi!</p><br>
        <p>I have recently completed an intensive four month web development programme at <a href="https://www.wegotcoders.com">We Got Coders,</a> and am excited to continue my path as a web developer! Through morning lectures, afternoon pair programming, and evening self study I have developed a solid understanding of Ruby and developed a strong interest in database structures and Javascript.</p><br>

        <p>Having formerly trained as a cabinetmaker I worked to create precise, functional furniture. I developed an eye for design, and could fuss over even the smallest details of a project. Some might say I'm a bit particular, but I like to think that these skills will serve me well as I transition into my new career as a web developer.</p><br>

        <p>This site is just a small accumulation of some of the new skills I have been developing while at coding bootcamp. Please checkout my links, and if you have any questions feel free to send me an email!</p>      
      </div>

      <div id='links' class='details'>
        <div id='social-links'>
          <h3>Links</h3>
          <ul>
            <li><a href='https://github.com/Kerrimaru'>GitHub</a></li>
            <li><a href='https://uk.linkedin.com/in/kerri-marusiak-51b20515b'>LinkedIn</a></li>
            <li><a href='https://www.instagram.com/constructiveandco/'>Woodworking</a></li>
          </ul>
        </div>

        <div id='projects'>
          <h3>Student Projects</h3>
          <ul>
            <li><a href='https://go-chef-kerri.herokuapp.com'>Go Chef</a></li>
          </ul>
        </div>

        <div class='contact'>
          <h3>Contact</h3>
          <p>kerri.maru@gmail.com</p>
        </div>

      </div>
    </div>
  </body>
</html>
