<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <script>
      let appCarousel = {};
    </script>
    {% include navigation.html %} {{ content }}
    <script>
      window.addEventListener(
        'scroll',
        function () {
          var nav = document.querySelector('nav');
          if (window.pageYOffset > 200) {
            nav.classList.add('scroll');
          } else if (window.pageYOffset < 200) {
            nav.classList.remove('scroll');
          }
        },
        false
      );
    </script>
  </body>
</html>
